In [114]:
"""
Load traffic.csv into "traffic" table in sqlite3 database.

Drop and report invalid rows.
- ip should be valid IP (see ipaddress)*
- time must not be in the future*
- path can't be empty
- status code must be a valid HTTP status code (see http.HTTPStatus)*
- size can't be negative or empty

Report the percentage of bad rows. Fail the ETL if there are more than 5% bad rows
"""

'\nLoad traffic.csv into "traffic" table in sqlite3 database.\n\nDrop and report invalid rows.\n- ip should be valid IP (see ipaddress)*\n- time must not be in the future*\n- path can\'t be empty\n- status code must be a valid HTTP status code (see http.HTTPStatus)\n- size can\'t be negative or empty\n\nReport the percentage of bad rows. Fail the ETL if there are more than 5% bad rows\n'

In [115]:
import pandas as pd
TrafficData = pd.read_csv('traffic.csv')
TrafficData

               ip                 time     path  status  size
0    108.66.146.1  2017-06-19T14:03:00  /images     200  1095
1    108.66.146.3  2017-06-19T14:03:21   /posts     200  1572
2    108.66.146.6  2017-06-19T14:03:42   /posts     200  1174
3    108.66.146.1  2017-06-19T14:04:03   /users     200   684
4    108.66.146.1  2017-06-19T14:04:24  /images     400     0
..            ...                  ...      ...     ...   ...
123  108.66.146.5  2017-06-19T14:46:03   /posts     200  1750
124  108.66.146.3  1017-06-19T14:46:24   /users     200  1079
125  108.66.146.1  2017-06-19T14:46:45  /images     200  1064
126  108.66.146.5  2017-06-19T14:47:06  /health     200  1531
127  108.66.146.4  2017-06-19T14:47:27  /images     200  1029

[128 rows x 5 columns]

In [116]:
TrafficData.drop(TrafficData[TrafficData['time'].str[:4] > '2017'].index, inplace=True)

In [117]:
TrafficData

               ip                 time     path  status  size
0    108.66.146.1  2017-06-19T14:03:00  /images     200  1095
1    108.66.146.3  2017-06-19T14:03:21   /posts     200  1572
2    108.66.146.6  2017-06-19T14:03:42   /posts     200  1174
3    108.66.146.1  2017-06-19T14:04:03   /users     200   684
4    108.66.146.1  2017-06-19T14:04:24  /images     400     0
..            ...                  ...      ...     ...   ...
123  108.66.146.5  2017-06-19T14:46:03   /posts     200  1750
124  108.66.146.3  1017-06-19T14:46:24   /users     200  1079
125  108.66.146.1  2017-06-19T14:46:45  /images     200  1064
126  108.66.146.5  2017-06-19T14:47:06  /health     200  1531
127  108.66.146.4  2017-06-19T14:47:27  /images     200  1029

[127 rows x 5 columns]

In [118]:
import ipaddress

valid_ips = []
for i, ip in enumerate(TrafficData['ip']):
    try:
        ipaddress.ip_address(ip)
        valid_ips.append(i)
    except ValueError:
        pass

TrafficData = TrafficData.iloc[valid_ips]
TrafficData['ip_valid'] = 'valid'
TrafficData

C:\Users\Vision\AppData\Local\Temp\ipykernel_14464\4242868002.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TrafficData['ip_valid'] = 'valid'

               ip                 time     path  status  size ip_valid
0    108.66.146.1  2017-06-19T14:03:00  /images     200  1095    valid
1    108.66.146.3  2017-06-19T14:03:21   /posts     200  1572    valid
2    108.66.146.6  2017-06-19T14:03:42   /posts     200  1174    valid
3    108.66.146.1  2017-06-19T14:04:03   /users     200   684    valid
4    108.66.146.1  2017-06-19T14:04:24  /images     400     0    valid
..            ...                  ...      ...     ...   ...      ...
123  108.66.146.5  2017-06-19T14:46:03   /posts     200  1750    valid
124  108.66.146.3  1017-06-19T14:46:24   /users     200  1079    valid
125  108.66.146.1  2017-06-19T14:46:45  /images     200  1064    valid
126  108.66.146.5  2017-06-19T14:47:06  /health     200  1531    valid
127  108.66.146.4  2017-06-19T14:47:27  /images     200  1029    valid

[126 rows x 6 columns]

In [119]:
import ipaddress

valid_ips = [i for i, ip in enumerate(TrafficData['ip']) if ipaddress.ip_address(ip)]
TrafficData = TrafficData.iloc[valid_ips]
TrafficData['ip_valid'] = 'valid'
TrafficData.iloc[2,3]

200

In [120]:
TrafficData['status'].value_counts()
import http
valid_http = []
for i in TrafficData.index:
    try:
        http.HTTPStatus(TrafficData.iloc[i,3])  # Replace with your desired status code
        valid_http.append(i)
    except ValueError:
        ...
    except IndexError:
        ...
TrafficData = TrafficData.iloc[valid_ips]
TrafficData['https_valid'] = 'valid'

In [121]:
TrafficData

,ip,time,path,status,size,ip_valid,https_valid
0,108.66.146.1,2017-06-19T14:03:00,/images,200,1095,valid,valid
1,108.66.146.3,2017-06-19T14:03:21,/posts,200,1572,valid,valid
2,108.66.146.6,2017-06-19T14:03:42,/posts,200,1174,valid,valid
3,108.66.146.1,2017-06-19T14:04:03,/users,200,684,valid,valid
4,108.66.146.1,2017-06-19T14:04:24,/images,400,0,valid,valid
...,...,...,...,...,...,...,...
123,108.66.146.5,2017-06-19T14:46:03,/posts,200,1750,valid,valid
124,108.66.146.3,1017-06-19T14:46:24,/users,200,1079,valid,valid
125,108.66.146.1,2017-06-19T14:46:45,/images,200,1064,valid,valid
126,108.66.146.5,2017-06-19T14:47:06,/health,200,1531,valid,valid
127,108.66.146.4,2017-06-19T14:47:27,/images,200,1029,valid,valid